.booking-container {
  display: flex;
  flex-direction: row;
  margin: 25px;
  background-color: lightgrey;
  width: 50%; /* Adjust the width as needed */
}

.title-section {
  font-size: 20px;
  text-align: center;
  flex-direction: column; /* To stack the content vertically */
  align-items: center;
  justify-content: center;
}

.content-section {
  display: flex;
  flex-direction: column; /* To stack the content vertically */
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-play-button,
.apple-store-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  margin: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-play-button {
  background-color: #4285f4;
}

.apple-store-button {
  background-color: #000;
}

.google-play-button i,
.apple-store-button i {
  margin-right: 8px;
}

.google-play-button:hover,
.apple-store-button:hover {
  filter: brightness(90%);
}
