.booking-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eeeeee;
  width: 50%;
}

.booking-content {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 120px;
}

.title-section {
  display: flex;
  font-size: 20px;
  text-align: right;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
}

.text-section {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

.button-container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.google-play-button,
.apple-store-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  margin: 8px;
  color: var(--base-white);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-play-button {
  background-color: #4285f4;
  text-decoration: none;
}

.apple-store-button {
  background-color: #000;
  text-decoration: none;
}

.google-play-button,
.apple-store-button {
  margin-right: 8px;
  text-decoration: none;
}

.google-play-button:hover,
.apple-store-button:hover {
  filter: brightness(90%);
}
.title-section {
  max-width: 400px;
}

.text-section {
  max-width: 400px;
  line-height: var(--sm-line-height);
}
@media screen and (max-width: 1024px) {
  .booking-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
  }

  .booking-content {
    margin: 20px 20px; /* Center the content vertically and horizontally */
  }

  .title-section,
  .text-section {
    text-align: left; /* Center the text */
  }
  .download-content {
    display: none;
  }
}
