.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

.title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.aboutUs-button {
  padding: 10px 50px;
  font-size: 16px;
  background: transparent;
  color: var(--base-green);
  border: 2px solid var(--base-green);
  border-radius: 25px;
  cursor: pointer;
  margin: 0 5px;
}

.aboutUs-button.selected {
  background: var(--base-green);
  color: var(--base-white);
}

.aboutUs-button.selected:hover {
  opacity: 0.8;
}

.aboutUs-button:not(.selected):hover {
  color: var(--shine-green);
}

.about-content-container {
  margin: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin: 10px; */
  margin-left: calc((90vw - 450px) / 4);
  margin-right: calc((90vw - 450px) / 4);
}
@media screen and (min-width: 1024px) {
  .content {
    margin-left: calc((90vw - 600px) / 2);
    margin-right: calc((90vw - 600px) / 2);
  }
}
.text {
  font-size: 20px;
  line-height: var(--xl-line-height);
}
