.parent-container {
  display: flex;
}

.img-container img {
  position: absolute;
  height: 70%;
  width: auto;
  top: 250%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #24a068;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-left: 120px;
}

.row-container {
  display: flex;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.column-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 20px;
}

.column-container .image {
  margin-right: 10px;
  margin-top: 20px;
}

.column-container .image img {
  width: 30px;
  background-color: white;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: white;
}

.content-section h3 {
  margin-bottom: 0px;
}
