.nav-container {
  background-color: #e9e8e8;
  z-index: 20;
  position: sticky;
  top: 0;
}

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
}

.navbar-logo {
  color: var(--baseBlack);
  justify-self: start;
  margin-left: 20px;
  font-size: 20px;
  text-decoration: none;
}

#navbar-logo:hover {
  cursor: pointer;
  color: var(--shine-green);
  transition: all 0.2s ease-out;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  list-style: none;
  text-align: center;
  justify-self: end;
}

.nav-links {
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 25px;
  background: transparent;
  color: var(--base-green);
  border: 2px solid var(--base-green);
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}

.nav-links:hover {
  color: var(--base-green);
  opacity: 0.8;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: var(--base-green);
}

/* MEDIA QUERIES FOR RESPONSIVE STYLES */

@media screen and (max-width: 640px) {
  .nav-container {
    position: sticky;
    top: 0;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: auto;
    background: var(--base-green);
    margin: 0;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .navbar-logo {
    margin-left: 20px;
  }

  .nav-menu.active {
    background: var(--base-green);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-links {
    text-align: center;
    line-height: 60px;
    width: 80%;
    display: table;
    background-color: var(--base-green);
    color: var(--base-white);
    font-size: 25px;
    border-radius: 0px;
    border: none;
    margin: 10px;
  }

  .nav-links:hover {
    color: var(--white);
  }

  .navbar {
    width: 100%;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .menu-toggle .bar {
    display: block;
    cursor: pointer;
  }

  .menu-toggle:hover {
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
