@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
  /*screens*/

  /*mobile*/
  --sm: 640px;
  /*midium sizes*/
  --md: 1024px;
  --xl: 1280px;
  /*extra large*/
  --xxl: 1536px;

  /*colors*/
  --base-green: #1bcb7f;
  --shine-green: #18df89;
  --base-white: #fff;
  --dark-white: #f0efef;
  --base-black: #141414;

  /*lines*/
  --xl-line-height: 1.5;
  --sm-line-height: 1.3;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  color: #000000;
}
