:root {
  /*screens*/

  /*mobile*/
  --sm: "640px";
  /*midium sizes*/
  --md: "1024px";
  --xl: "1280px";
  /*extra large*/
  --xxl: "1536px";

  /*colors*/
  --base-green: #24a068;
  --shine-green: #1bcb7f;
  --base-white: #fff;
  --font-black: #0000;
}

body {
  margin: 0px;
  padding: 0px;
}
