.slider-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.slide {
  position: relative;
  text-align: center;
  width: 100vw;
}

.slide img {
  width: 100%;
  max-height: 100vh;
  height: auto;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.slide-content h1 {
  font-size: 32px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.download-button {
  padding: 10px 20px;
  font-size: 16px;
  background: #24a068;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.download-button:hover {
  background: #1bcb7f;
}
