.slider-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.slide {
  position: relative;
  text-align: center;
  width: 100vw;
}

.slide img {
  width: 100%;
  max-height: 90vh;
  height: auto;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.slide-content h1 {
  font-size: 6vw;
  line-height: 0.2;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
}
.slide-content p {
  font-size: 2vw;
  line-height: 0.2;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.download-button {
  padding: 10px 20px;
  font-size: 16px;
  background: transparent;
  color: #fff;
  border: 2px #24a068 solid;
  border-radius: 5px;

  cursor: pointer;
}

.download-button:hover {
  opacity: 0.8;
  color: #1bcb7f;
}

@media screen and (max-width: 640px) {
  .slide-content h1 {
    font-size: 8vw;
  }
  .slide-content p {
    font-size: 3vw;
  }
  .download-button {
    padding: 5px 10px;
    font-size: 16px;
    background: transparent;
    color: #fff;
    border: 2px #24a068 solid;
    border-radius: 5px;
    cursor: pointer;
  }
}
